---
layout: default
title: Homepage
navbar_title: Home
---
<div class="row">
    <div class="col-lg-4 col-md-5 mb-3">
        {% include widgets/profile_card_mini.html %}
    </div>

    <div class="col-lg-8 col-md-7">
        {% include widgets/profile_card_bio_only.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}
        {% if site.data.display.homepage.show_news %}
            {% if site.news and site.news.size > 0 %}
                {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
            {% endif %}
        {% endif %}
        {% if site.data.display.homepage.show_selected_publications %}
            {% if site.publications and site.publications.size > 0 %}
                {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
                {% if pubs.size > 0 %}
                    {% include widgets/publication_card.html
                       publications=pubs
                       title='<i class="fas fa-star"></i> Selected Publications' %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>